<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>invoice.app.skadevents</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.442045211912-p06i2u6v4kgdqrhnjtq8nti2562mv4j9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.facebook.sdk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1313964556984936</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.thrifty.thrifty</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thriftyapp</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>1313964556984936</string>
	<key>FacebookClientToken</key>
	<string>8a0ec108ef6a2b03fda69aa18cb5afa8</string>
	<key>FacebookDisplayName</key>
	<string>Thrifty</string>
	<key>GIDClientID</key>
	<string>442045211912-p06i2u6v4kgdqrhnjtq8nti2562mv4j9.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
</dict>
</plist>
